/* Slider */
.carousel-caption{
    top: 25%;
}
.carousel-caption h5{
    font-size: 60px;
    padding: 0px 100px;
}
.carousel-caption p{
    padding: 0px 100px;
}
.carousel-item::before{
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: black;
    opacity: 0.5;
    border-radius: 5px;
}


/* Media Query For Medium Device */
@media (max-width: 720px) {
    .carousel-caption{
        top: 3%;
    }
    .carousel-caption h5{
        font-size: 30px;
        padding: 0px 50px;
    }
    .carousel-caption p{
        padding: 0px 20px;
    }
    .regi-info{
        text-align: center;
    }
    .regi-btn{
        display: flex;
        justify-content: center;
    }
    .regi-btn .btn{
        margin-left: 0 !important; 
    }
    .student-info{
        text-align: center !important;
    }
}
/* Media Query For Small Device */
@media (max-width: 520px) {
.carousel-caption{
        top: 2%;
    }
    .carousel-caption h5{
        font-size: 20px;
        padding: 0px;
    }
    .carousel-caption p{
        padding: 0px;
    }
    .carousel-caption .btn{
        margin-top: -15px;
    }
    .text-h{
        display: none;
    }
}
/* Footer ------
--------------*/
footer {
    background: #161616;
}
